##Лёдова Кристина Владимировна

##Т12О-101М-20

In [2]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
from math import sqrt

 1.Найти евклидово расстоняие между двумя объектами Series

In [9]:
a = pd.Series(np.random.randint(1, 10, [3]))
b = pd.Series(np.random.randint(1, 10, [3]))
evk = sqrt(sum((a-b)**2))
print(a,'\n')
print(b,'\n')
print(evk)

0    8
1    1
2    9
dtype: int64

0    6
1    7
2    1
dtype: int64

10.198039027185569

2.Найти индексы локальных максимумов в объекте Series

In [14]:
s = pd.Series([1, 3, 7, 12, 8, 10, 9])
dd = np.diff(np.sign(np.diff(s)))
index = np.where(dd == -2)[0] + 1
print(index)

[3 5]

3.Заменить пробелы наименее часто встречающимся символом

In [20]:
sentence = 'one two three four five'
s = pd.Series(list(sentence))
f = s.value_counts()

print(s.value_counts()) 
('').join(s.replace(' ', f.index[-1]))

     4
e    4
o    3
r    2
f    2
t    2
n    1
w    1
h    1
u    1
v    1
i    1
dtype: int64

'oneitwoithreeifourifive'

4.Создать объект Series, который содержит в индексах даты выходных дней субботы, а в значениях - случайные числа от 1 до 10

In [22]:
s = pd.Series(np.random.randint(1, 10 ,[10]), pd.date_range('2020-01-01', periods=10, freq='W-SAT'))
print(s)

2020-01-04    6
2020-01-11    1
2020-01-18    2
2020-01-25    9
2020-02-01    3
2020-02-08    4
2020-02-15    5
2020-02-22    3
2020-02-29    3
2020-03-07    2
Freq: W-SAT, dtype: int64

5.Заполнить пропущенные даты, значением выше (заполненной даты)

In [27]:
df = pd.DataFrame({"Date": [1, None, 5, None, 9]}, index = pd.to_datetime(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04', '2020-01-05']))
print(df,'\n')
print(df.ffill())

            Date
2020-01-01   1.0
2020-01-02   NaN
2020-01-03   5.0
2020-01-04   NaN
2020-01-05   9.0

            Date
2020-01-01   1.0
2020-01-02   1.0
2020-01-03   5.0
2020-01-04   5.0
2020-01-05   9.0

6.Вычислить автокорреляцию объекта Series

In [30]:
s = pd.Series([0.1, 0.5, 0.25, -0.1])
s.autocorr()

-0.2805062692433372