# Московский авиационный институт (Национальный исследовательский университет)
## Лабораторная работа №4
## "Pandas"
### Выполнила: студентка группы Т12О-101М-20
### Лёдова Кристина Владимировна
### Преподаватель: Поповкин Александр Викторович
### Москва
### 2020 г.

Импортировать модули sys numpy pandas

In [ ]:
import sys
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

1.Создать объект pandas Series из листа, объекта NumPy и словаря

In [ ]:
lis = [1, 2, 3, 4]
dic = {'five': 5, 'six': 6, 'seven': 7}
arr = np.zeros(3)
lis_s = Series(lis)
dic_s = Series(dic)
arr_s = Series(arr)

print(lis_s, '\n')
print(dic_s, '\n')
print(arr_s)

0    1
1    2
2    3
3    4
dtype: int64

five     5
six      6
seven    7
dtype: int64

0    0.0
1    0.0
2    0.0
dtype: float64

2.Преобразовать объект Series в DataFrame

In [ ]:
dic_df = DataFrame(dic_s, columns=['numbers'])
print(dic_df)

       numbers
five         5
six          6
seven        7

3.Создать объект Series, преобразовать в DataFrame

In [ ]:
s = Series({'vegetable': 'tomato', 'fruit': 'apple', 'berry': 'watermelon'})
s_df = DataFrame(s, columns=['food'])
print(s_df)

                 food
vegetable      tomato
fruit           apple
berry      watermelon

4.Объединить несколько объектов Series в Dataframe

In [ ]:
s1 = Series(['red','green','black'])
s2 = Series([1,2,3])
s_df = DataFrame(dict(s1 = s1, s2 = s2))
print(s_df)

      s1  s2
0    red   1
1  green   2
2  black   3

5.Присвоить имя индексу объекта Series

In [ ]:
s = pd.Series({'one': 1, 'two': 2, 'three': 3})
s.name = 'new_name'
print(s)

one      1
two      2
three    3
Name: new_name, dtype: int64

6.Получить элементы объекта Series A, которых нет в объекте Series B. Возвратить значения вместе с индексами

In [ ]:
a = pd.Series([1, 2, 3, 4, 5])
b = pd.Series([2, 4, 6, 8, 10])

c= a[~a.isin(b)] #возврат c индексами
print(c, '\n')

d = np.setdiff1d(a, b, assume_unique=False) #возврат значений
print(d)

0    1
2    3
4    5
dtype: int64

[1 3 5]

7.Получить объединенный Series без повторений

In [ ]:
a = pd.Series([1, 2, 3, 4, 5])
b = pd.Series([2, 4, 6, 8, 10])

union = pd.Series(np.union1d(a, b))
print(union)

0     1
1     2
2     3
3     4
4     5
5     6
6     8
7    10
dtype: int64

8.Получить пересекающиеся данные

In [ ]:
a = pd.Series([1, 2, 3, 4, 5])
b = pd.Series([2, 4, 6, 8, 10])

intersection = pd.Series(np.intersect1d(a, b))
print(intersection)

0    2
1    4
dtype: int64

9.Отобрать все данные, кроме пересекающихся. Возвратить значения

In [ ]:
a = pd.Series([1, 2, 3, 4, 5])
b = pd.Series([2, 4, 6, 8, 10])

c = union[~union.isin(intersection)]
print(c,'\n')

d = np.setxor1d(a, b, assume_unique=False) #возврат значений
print(d)

0     1
2     3
4     5
5     6
6     8
7    10
dtype: int64

[ 1  3  5  6  8 10]