# Московский авиационный институт (Национальный исследовательский университет)
## Лабораторная работа №7
## "Pandas"
### Выполнила: студентка группы Т12О-101М-20
### Лёдова Кристина Владимировна
### Преподаватель: Поповкин Александр Викторович¶
### Москва
### 2020 г.

In [ ]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
from math import sqrt

 1.Найти евклидово расстоняие между двумя объектами Series

In [ ]:
a = pd.Series(np.random.randint(1, 10, [3]))
b = pd.Series(np.random.randint(1, 10, [3]))
evk = sqrt(sum((a-b)**2))
print(a,'\n')
print(b,'\n')
print(evk)

0    8
1    1
2    9
dtype: int64

0    6
1    7
2    1
dtype: int64

10.198039027185569

2.Найти индексы локальных максимумов в объекте Series

In [ ]:
s = pd.Series([1, 3, 7, 12, 8, 10, 9])
dd = np.diff(np.sign(np.diff(s)))
index = np.where(dd == -2)[0] + 1
print(index)

[3 5]

3.Заменить пробелы наименее часто встречающимся символом

In [ ]:
sentence = 'one two three four five'
s = pd.Series(list(sentence))
f = s.value_counts()

print(s.value_counts()) 
('').join(s.replace(' ', f.index[-1]))

     4
e    4
o    3
r    2
f    2
t    2
n    1
w    1
h    1
u    1
v    1
i    1
dtype: int64

'oneitwoithreeifourifive'

4.Создать объект Series, который содержит в индексах даты выходных дней субботы, а в значениях - случайные числа от 1 до 10

In [ ]:
s = pd.Series(np.random.randint(1, 10 ,[10]), pd.date_range('2020-01-01', periods=10, freq='W-SAT'))
print(s)

2020-01-04    6
2020-01-11    1
2020-01-18    2
2020-01-25    9
2020-02-01    3
2020-02-08    4
2020-02-15    5
2020-02-22    3
2020-02-29    3
2020-03-07    2
Freq: W-SAT, dtype: int64

5.Заполнить пропущенные даты

In [ ]:
s = pd.Series([1, 3, 5, 7], pd.to_datetime(['2020-01-01', '2020-01-03', '2020-01-05','2020-01-07']))
print(s)

new = s.resample('D').ffill()
print(new)

2020-01-01    1
2020-01-03    3
2020-01-05    5
2020-01-07    7
dtype: int64
2020-01-01    1
2020-01-02    1
2020-01-03    3
2020-01-04    3
2020-01-05    5
2020-01-06    5
2020-01-07    7
Freq: D, dtype: int64

6.Вычислить автокорреляцию объекта Series

In [ ]:
s = pd.Series([0.1, 0.5, 0.25, -0.1])
s.autocorr()

-0.2805062692433372