# Московский авиационный институт (Национальный исследовательский университет)
## Лабораторная работа №5
## "Pandas"
### Выполнила: студентка группы Т12О-101М-20
### Лёдова Кристина Владимировна
### Преподаватель: Поповкин Александр Викторович
### Москва
### 2020 г.

In [ ]:
import numpy as np
from pandas import Series, DataFrame
import pandas as pd

1.Получить от объекта Series показатели описательной статистики

In [ ]:
a = np.arange(10)
s = Series(a)
statistics = s.describe()
print(statistics)

count    10.00000
mean      4.50000
std       3.02765
min       0.00000
25%       2.25000
50%       4.50000
75%       6.75000
max       9.00000
dtype: float64

2.Узнать частоту уникальных элементов объекта Series (гистограмма)

In [ ]:
a = [1, 1, 1, 8, 5, 2, 2]
s = Series(a)
histogram = s.value_counts()
print(histogram)

1    3
2    2
5    1
8    1
dtype: int64

3.Заменить все элементы объекта Series на "Other", кроме двух наиболее часто встречающихся

In [ ]:
a = pd.Series(np.random.randint(1, 5, size = 8))
frequent = a.value_counts()
s = a.value_counts()[2:] 

print(a, '\n')
res = a[a.isin(s.index)]
a[res.index] = 'Other'

print(frequent, s, res, a, sep = '\n\n')

0    4
1    1
2    4
3    3
4    2
5    1
6    1
7    4
dtype: int64

4    3
1    3
3    1
2    1
dtype: int64

3    1
2    1
dtype: int64

3    3
4    2
dtype: int64

0        4
1        1
2        4
3    Other
4    Other
5        1
6        1
7        4
dtype: object

4.Создать объект Series, в индексах - дата каждый день 2019 года, в значениях - случайное значение

In [ ]:
date = pd.date_range(start='2019-01-01', end='2019-12-31') 
s = pd.Series(np.random.rand(len(date)), index=date)
print(s)

2019-01-01    0.517939
2019-01-02    0.448168
2019-01-03    0.315535
2019-01-04    0.674148
2019-01-05    0.826135
                ...
2019-12-27    0.971723
2019-12-28    0.255286
2019-12-29    0.434808
2019-12-30    0.681775
2019-12-31    0.532383
Freq: D, Length: 365, dtype: float64

5.Найти сумму всех вторников

In [ ]:
tuesdays = s[s.index.weekday == 1].sum()
print(tuesdays)

25.248893047626634

6.Для каждого месяца найти среднее значение

In [ ]:
month_mean = s.resample('M').mean()
print(month_mean)

2019-01-31    0.521017
2019-02-28    0.412165
2019-03-31    0.463698
2019-04-30    0.524028
2019-05-31    0.493896
2019-06-30    0.470251
2019-07-31    0.485005
2019-08-31    0.580585
2019-09-30    0.548037
2019-10-31    0.522643
2019-11-30    0.489628
2019-12-31    0.572000
Freq: M, dtype: float64

7.Преобразовать объект Series в DataFrame заданной формы (shape)

In [ ]:
s = pd.Series(np.random.randint(1, 10, [15]))
shape = (5,3)
df = pd.DataFrame(s.values.reshape(shape))
df

   0  1  2
0  7  3  8
1  7  2  4
2  2  7  4
3  6  1  9
4  3  3  5

8.Найти индексы объекта Series кратные 3

In [ ]:
s = pd.Series(np.random.randint(1, 10, [10]))
print(s, '\n') 
s[s % 3 == 0].index

0    2
1    7
2    1
3    6
4    4
5    7
6    3
7    9
8    4
9    4
dtype: int64

Int64Index([3, 6, 7], dtype='int64')

9.Получить данные по индексам объекта Series

In [ ]:
s = pd.Series(list('edcvbjkijkpolltu'))
index = [0, 2, 4, 6, 10, 11]
print(s[index])

0     e
2     c
4     b
6     k
10    p
11    o
dtype: object

10.Объединить два объекта Series вертикально и горизонтально

In [ ]:
s1 = pd.Series(np.random.randint(1,5,[5]))
s2 = pd.Series(['a','b','c','d','e'])
 
print(pd.concat([s1, s2], axis = 0), '\n')
print(pd.concat([s1, s2], axis = 1))

0    2
1    3
2    4
3    4
4    1
0    a
1    b
2    c
3    d
4    e
dtype: object

   0  1
0  2  a
1  3  b
2  4  c
3  4  d
4  1  e

11.Получить индексы объекта Series A, данные которых содержатся в объетке Series B

In [ ]:
a = pd.Series([1,2,3,4])
b = pd.Series([2,4,6,8])

a[a.isin(b)].index

Int64Index([1, 3], dtype='int64')

12.Получить объект Series B, котоырй содержит элементы без повторений объекта A

In [ ]:
a = pd.Series(np.random.randint(1, 5, [5]))
b = pd.Series(a.unique())
print(a, '\n')
print(b)

0    3
1    3
2    2
3    1
4    1
dtype: int64

0    3
1    2
2    1
dtype: int64

13.Преобразовать каждый символ объекта Series в верхний регистр

In [ ]:
s = pd.Series(['a','b','c','d', 'e'])
s1 = pd.Series(i.title() for i in s)
print(s1)

0    A
1    B
2    C
3    D
4    E
dtype: object

14.Преобразовать данные Series в строку

In [ ]:
s = pd.Series(['a','b','c','d', 'e'])
s1 = pd.Series(str(i) for i in s)
print(s1)

0    a
1    b
2    c
3    d
4    e
dtype: object

15.Рассчитать количество символов в объекте Series

In [ ]:
s = pd.Series(['a','ab','abc','d', 'e'])
s1 = np.asarray([len(i) for i in s])
print(s1)

[1 2 3 1 1]

16.Найти разность между объектом Series и смещением объекта Series на n

In [ ]:
n = 1 
s = pd.Series([2, 5, 6, 8, 10])
s1 = s.diff(periods=n)
print(s1)

0    NaN
1    3.0
2    1.0
3    2.0
4    2.0
dtype: float64

17.Преобразовать разные форматы строк объекта Series в дату

In [ ]:
s = pd.Series(['2018/09/01', '2019-10-02', '3 Nov 2020'])
date = pd.to_datetime(s)
print(date)

0   2018-09-01
1   2019-10-02
2   2020-11-03
dtype: datetime64[ns]

18.Получить год, месяц, день, день недели, номер дня в году от объекта Series (string). Распарсить в дату и время

In [ ]:
from dateutil.parser import parse
 
s = pd.Series(['01 Jan 2017', '02-02-2018', '20190303', '04/04/2020'])
s1 = s.map(lambda x: parse(x, yearfirst=True))
print(s1)

0   2017-01-01
1   2018-02-02
2   2019-03-03
3   2020-04-04
dtype: datetime64[ns]

19.Получить года, месяца, дни, номер недели, номер дня в году

In [ ]:
print(s1.dt.year, '\n') #год
print(s1.dt.month, '\n') #месяц
print(s1.dt.day, '\n') #день
print(s1.dt.isocalendar().week, '\n') #номер недели
print(s1.dt.dayofyear) #номер дня в году

0    2017
1    2018
2    2019
3    2020
dtype: int64

0    1
1    2
2    3
3    4
dtype: int64

0    1
1    2
2    3
3    4
dtype: int64

0    52
1     5
2     9
3    14
Name: week, dtype: UInt32

0     1
1    33
2    62
3    95
dtype: int64

20.Отобрать элементы объекта Series, кторые содержат не менее двух гласных

In [ ]:
from collections import Counter
s = pd.Series(['one', 'two', 'zzz', 'five', 'six'])
mask = s.map(lambda x: sum([Counter(x.lower()).get(i, 0) for i in list('aeiou')]) >= 2)
print(s[mask])

0     one
3    five
dtype: object

21.Отобрать e-маилы из объекта Series

In [ ]:
import re
 
emails = pd.Series(['test text @test.com', 'test@mail.ru', 'test.2ru', 'test@mail.ur', 'test@mail.com'])
pattern = '[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.(ru|com)'
mask = emails.map(lambda x: bool(re.match(pattern, x)))
result = emails[mask]
print(result)

1     test@mail.ru
4    test@mail.com
dtype: object

22.Получить среднее значение каждого уникального объекта Series s1 через "маску" другого объекта Series s2

In [ ]:
n = 10
s1 = pd.Series(np.random.choice(['white', 'black', 'red', 'blue'], n))
s2 = pd.Series(np.linspace(1,n,n))
mean_s1 = s2.groupby(s1).mean()
print(mean_s1)

black    6.00
blue     5.00
red      6.00
white    5.25
dtype: float64